<p>
  <b>Title:</b>
  <%=h @listing.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @listing.description %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>